<h1>Messi Food</h1>
<marquee >Its open 7:00 AM TO 4:00 PM :) (order in this time)</marquee>

<hr/>
<h3>food menu</h3>
<p>Keep dish code in mind ,whatever you order </p>
<ol>
	<li>Samosha [001]</li>
	<li>Pava[002]</li>
	<li>Aloo pardatha [003]</li>
	<li>Thepala [004]</li>
</ol>
<hr/>
<h3>place order</h3>
<form action="/order" method="POST">
	<input type="text" placeholder="your name" name="name"> <br>
	<input type="text" placeholder="mobile number" name="mobile"><br>
	<input type="number" placeholder="Your Order code" name="dishcode"><br>
	<input type="submit">
	</form>
<hr/>